In [60]:
import math
import pandas
import random

In [ ]:
data = {
    "names": ["George", "John", "Thomas", "James", "James", "John"],
    "ages": [67, 90, 83, 85, 73, 80]
}

population_df = pandas.DataFrame(data)

In [62]:
population_df

    names  ages
0  George    67
1    John    90
2  Thomas    83
3   James    85
4   James    73
5    John    80

In [63]:
sample_ids = []
used_i = []

while len(sample_ids) < 3:
    rando = random.randint(1, len(population_df))
    if not rando in used_i:
        used_i.append(rando)
        sample_ids.append(rando-1)
    
sample_df = population_df.iloc[sample_ids]

In [64]:
sample_df

    names  ages
5    John    80
2  Thomas    83
1    John    90

In [ ]:
mean = sum(population_df["ages"].to_list())/len(population_df)

print(mean)

79.66666666666667

In [73]:
standard_dev = math.sqrt(1/len(population_df)*mean)

print(standard_dev)

3.643868518179241

In [74]:
variance = standard_dev ** 2  # the exponentiation operator

print(variance)

13.277777777777779

In [ ]:
# If sigma is unknown, but the 95 percentile (aka 2sigma intercept) value IS known
two_sigma_intercept = mean+(2*standard_dev)  # a point along the curve

sigma = (two_sigma_intercept-mean)/2

print(sigma)

3.6438685181792394