In [1]:
import mysql.connector as sq

mydb=sq.connect(host="localhost",user="root",passwd="ucla", buffered=True)
# mydb=sq.MySQLConnection(host="localhost",user="root",passwd="ucla", buffered=True)
# mydb=sq.connect(host="localhost",user="root",passwd="ucla")

In [3]:
mycursor = mydb.cursor()

In [5]:

mycursor.execute('CREATE DATABASE IF NOT EXISTS PyDB1000')

In [7]:
mycursor.execute("CREATE TABLE PyDB1000.PyTABLE (id int not null, name text not null, salary float not null, primary key(id))")

In [ ]:
# mycursor.execute("INSERT INTO PyDB1000.PyTABLE (id, name, salary)VALUES    (100,'John Hall',12300.55)")
# mycursor.execute("INSERT INTO PyDB1000.PyTABLE (id, name, salary)VALUES(101,'John Smith',10300.15)")
# mycursor.execute("INSERT INTO PyDB1000.PyTABLE (id, name, salary)VALUES(102,'Susan Jones',11500.57)")

In [9]:
SQLCMD = "INSERT INTO PyDB1000.PyTABLE (id, name, salary)VALUES(%s,%s,%s)"
values = [(100,'John Hall',12300.55),(101,'John Smith',10300.15),(102,'Susan Jones',11500.57)]

In [11]:
mycursor.executemany(SQLCMD, values)

In [13]:
mydb.commit()

In [15]:
mycursor.execute('SHOW DATABASES')

In [17]:
all=mycursor.fetchall()
print(all)

[('db1004',), ('employees',), ('information_schema',), ('mysql',), ('mystore',), ('mystore2',), ('nj_2023',), ('nj_teachers',), ('nj_teachers1',), ('nj_teachers2',), ('nj_test',), ('performance_schema',), ('pydb1000',), ('sakila',), ('students',), ('supercookiesstore',), ('sys',), ('world',)]

In [23]:
for db in mycursor:
    print (db)

(100, 'John Hall', 12300.5)
(101, 'John Smith', 10300.2)
(102, 'Susan Jones', 11500.6)

In [21]:
mycursor.execute("SELECT * FROM PyDB1000.PyTABLE")

In [25]:
mycursor.close()

True

In [ ]:
mycursor.execute('SHOW DATABASES')