# STEP 1

Connect to the MySQL server on your laptop.

**Videos**

- Associated with M3V9 - Python MySQL Integration

In [ ]:
import mysql.connector as sq

db_connection = sq.connect(
    host="127.0.0.1",
    port=3306,
    user="awrjr",
    password="BLUEgreen555",
    buffered=True  # for fetching data to look at later (?)
)

# STEP 2

Create a database names `qctestdb`.

**Videos**

- Associated with M3V9 - Python MySQL Integration

- Associated with M3V10 - Python MySQL Integration Demo

In [ ]:
# the `cursor` is a built in f(x) that acts at the vehicle to and from the db
cursor = db_connection.cursor()

cursor.execute("CREATE DATABASE qctestdb")

In [ ]:
#Confirm DB is created.
cursor.execute("SHOW DATABASES")

for db in cursor:
    print(db)

# STEP 3

Create a table named `testresults` for `qctestdb` with 3 columns.

|plant|testresults|zip|
|-|-|-|
|1001|B1234PABQ50D20230908|93722|
|1002|B1234PABQ0050D20230908B5678PXYQ0030D20230909|1960|
|1006|B1234PABQ0050D20230908|2703|
|1007|B2021PGEQ25D20230103|77433|
|1008|B4521PABQ56D20230315|33023|

- `plant` is the primary key, stored at an int, can't be null

- `testrestuls` stores text, can't be null

- `zip` stores in value, can't be null

Data saved in file named `data.csv`.

**Videos**

Associated with M3V11 - MySQL Create and Insert using Python

Associated with M3V12 - MySQL Insert using Python `executemany()`

In [ ]:
cursor.execute("""
CREATE TABLE qctestdb.testresults (
  plant INT NOT NULL PRIMARY KEY,
  testsults VARCHAR(255) NOT NULL,
  zip INT NOT NULL)
""")

db_connection.commit()  # REQUIRED TO MAKE UPDATES

In [ ]:
# Confirm Table and Fields Created.
cursor.execute("DESCRIBE qctestdb.testresults")

for row in cursor:

    print(row)

# CLASS'S WAY

Do not use other Python libraries.

In [ ]:
data = [
    (1001, "B1234PABQ50D20230908", 93722),
    (1002, "B1234PABQ0050D20230908B5678PXYQ0030D20230909", 1960),
    (1006, "B1234PABQ0050D20230908", 2703),
    (1007, "B2021PGEQ25D20230103", 77433),
    (1008, "B4521PABQ56D20230315", 33023)
]

In [ ]:
insert_sql = """
INSERT INTO qctestdb.testresults (plant, testsults, zip)
VALUES (%s, %s, %s)
"""  # `%s` is a placeholder for some string.
# use of `%s` is overwritten by database type.

cursor.executemany(insert_sql, data)

db_connection.commit()

print(f"{cursor.rowcount} rows inserted")

# Search the DB

In [ ]:
cursor.execute("SELECT * FROM qctestdb.testresults")

rows = cursor.fetchall()

for row in rows:
    
    print(row)

In [ ]:
cursor.execute("SELECT testsults, zip FROM qctestdb.testresults WHERE plant = 1001")

rows = cursor.fetchall()

for row in rows:
    
    print(row)

# Close Connection

Good Practice.

In [ ]:
cursor.close()

db_connection.close()

## MY WAY WITH PANDAS

In [ ]:
# from pandas import read_csv

# data = read_csv("data.csv")

# # CONVERT TO TUPLE TO LOADING TO SQL
# data = list(data.itertuples(index=False, name=None))

# # print(data)

# insert_sql = """
# INSERT INTO qctestdb.testresults (plant, testresults, zip)
# VALUES (%s, %s, %s)
# """

# cursor.executemany(insert_sql, data)

# conn.commit()

# print(f"{cursor.rowcount} rows inserted")