# STEP 1

Connect to the MySQL server on your laptop.

In [1]:
import mysql.connector

conn = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="awrjr",
    password="BLUEgreen555"
)

# STEP 2

Create a database names `qctestdb`.

In [2]:
cursor = conn.cursor()

cursor.execute("CREATE DATABASE qctestdb")

In [3]:
#Confirm DB is created.
cursor.execute("SHOW DATABASES")

for db in cursor:
    print(db)

('information_schema',)
('mysql',)
('performance_schema',)
('qctestdb',)
('sys',)

# STEP 3

Create a table named `testresults` for `qctestdb` with 3 columns.

|plant|testresults|zip|
|-|-|-|
|1001|B1234PABQ50D20230908|93722|
|1002|B1234PABQ0050D20230908B5678PXYQ0030D20230909|1960|
|1006|B1234PABQ0050D20230908|2703|
|1007|B2021PGEQ25D20230103|77433|
|1008|B4521PABQ56D20230315|33023|

- `plant` is the primary key, stored at an int, can't be null

- `testrestuls` stores text, can't be null

- `zip` stores in value, can't be null

Data saved in file named `data.csv`.

In [4]:
cursor.execute("""
CREATE TABLE qctestdb.testresults (
  plant INT NOT NULL PRIMARY KEY,
  testsults VARCHAR(255) NOT NULL,
  zip INT NOT NULL)
""")

conn.commit()

In [5]:
# Confirm Table and Fields Created.
cursor.execute("DESCRIBE qctestdb.testresults")

for row in cursor:

    print(row)

('plant', 'int', 'NO', 'PRI', None, '')
('testsults', 'varchar(255)', 'NO', '', None, '')
('zip', 'int', 'NO', '', None, '')

## MY WAY WITH PANDAS

In [6]:
# from pandas import read_csv

# data = read_csv("data.csv")

# # CONVERT TO TUPLE TO LOADING TO SQL
# data = list(data.itertuples(index=False, name=None))

# # print(data)

# insert_sql = """
# INSERT INTO qctestdb.testresults (plant, testresults, zip)
# VALUES (%s, %s, %s)
# """

# cursor.executemany(insert_sql, data)

# conn.commit()

# print(f"{cursor.rowcount} rows inserted")

# BRUCE'S WAY

Do not use other Python libraries.

In [7]:
data = [
    (1001, "B1234PABQ50D20230908", 93722),
    (1002, "B1234PABQ0050D20230908B5678PXYQ0030D20230909", 1960),
    (1006, "B1234PABQ0050D20230908", 2703),
    (1007, "B2021PGEQ25D20230103", 77433),
    (1008, "B4521PABQ56D20230315", 33023)
]

In [8]:
insert_sql = """
INSERT INTO qctestdb.testresults (plant, testsults, zip)
VALUES (%s, %s, %s)
"""

cursor.executemany(insert_sql, data)

conn.commit()

print(f"{cursor.rowcount} rows inserted")

5 rows inserted

# Search the DB

In [9]:
cursor.execute("SELECT * FROM qctestdb.testresults")

rows = cursor.fetchall()

for row in rows:
    
    print(row)

(1001, 'B1234PABQ50D20230908', 93722)
(1002, 'B1234PABQ0050D20230908B5678PXYQ0030D20230909', 1960)
(1006, 'B1234PABQ0050D20230908', 2703)
(1007, 'B2021PGEQ25D20230103', 77433)
(1008, 'B4521PABQ56D20230315', 33023)

In [10]:
cursor.execute("SELECT testsults, zip FROM qctestdb.testresults WHERE plant = 1001")

rows = cursor.fetchall()

for row in rows:
    
    print(row)

('B1234PABQ50D20230908', 93722)

# Close Connection

Good Practice.

In [11]:
cursor.close()

conn.close()