In [19]:
# Connect to MySQL Server
import mysql.connector

In [20]:
# CONNECT TO MYSQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="awrjr",
    password="BLUEgreen555",
    database="qctestdb"
)

# Create a database named `qctestdb`
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS qctestdb")

In [21]:
cursor.execute("SHOW DATABASES")
for db in cursor:
    print(db)

('information_schema',)
('mysql',)
('performance_schema',)
('qctestdb',)
('sys',)

In [22]:
# cursor.execute("""
# CREATE TABLE IF NOT EXISTS qctestdb (
#     plate INT PRIMARY KEY,
#     testresults VARCHAR(255),
#     zip INT
# )
# """)
# conn.commit()

In [23]:
cursor.execute("DESCRIBE qctestdb")
for row in cursor:
    print(row)

('plant', 'int', 'NO', 'PRI', None, '')
('testresults', 'varchar(255)', 'YES', '', None, '')
('zip', 'int', 'YES', '', None, '')

In [ ]:
from pandas import read_csv

data = read_csv("data.csv")

# CONVERT TO TUPLE TO LOADING TO SQL
data = list(data.itertuples(index=False, name=None))

# print(data)

In [25]:
# insert_sql = """
# INSERT INTO qctestdb (plant, testresults, zip)
# VALUES (%s, %s, %s)
# """

# cursor.executemany(insert_sql, data)
# conn.commit()

# print(f"{cursor.rowcount} rows inserted")

In [26]:
# cursor.close()
# conn.close()

In [30]:
cursor.execute("SELECT * FROM qctestdb")

rows = cursor.fetchall()

for row in rows:
    print(row)

(1001, 'B1234PABQ50D20230908', 93722)
(1002, 'B1234PABQ0050D20230908B5678PXYQ0030D20230909', 1960)
(1006, 'B1234PABQ0050D20230908', 2703)
(1007, 'B2021PGEQ25D20230103', 77433)
(1008, 'B4521PABQ56D20230315', 33023)

In [38]:
cursor.execute("SELECT testresults, zip FROM qctestdb WHERE plant = 1001")

rows = cursor.fetchall()

for row in rows:
    print(row)

('B1234PABQ50D20230908', 93722)

In [32]:
from pandas import read_sql

In [34]:
df = read_sql("SELECT * FROM qctestdb", conn)

C:\Users\awill\AppData\Local\Temp\ipykernel_5752\2103099061.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = read_sql("SELECT * FROM qctestdb", conn)

In [35]:
df

   plant                                   testresults    zip
0   1001                          B1234PABQ50D20230908  93722
1   1002  B1234PABQ0050D20230908B5678PXYQ0030D20230909   1960
2   1006                        B1234PABQ0050D20230908   2703
3   1007                          B2021PGEQ25D20230103  77433
4   1008                          B4521PABQ56D20230315  33023

In [28]:
# Create a table named `testresults` with 3 columns.
# Use `executemany` to populate table

|plate|testresultes|zip|
|-|-|-|
|1001|ABC|93722

In [29]:
# primary_key == 'platet, type = int, is not null

# testresults, type = str, is not null

# zip, type = int, is not null