In [2]:
# pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 16.7 MB/s eta 0:00:01
   ------------ --------------------------- 5.2/16.5 MB 21.4 MB/s eta 0:00:01
   ------------------------ --------------- 10.2/16.5 MB 22.5 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.5 MB 23.5 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 22.2 MB/s  0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Connect to MySQL Server
import mysql.connector

In [10]:
import mysql.connector

conn = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="your_username",
    password="your_password",
    database="your_database"
)

cursor = conn.cursor()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on '127.0.0.1:3306' (10061)

In [2]:
# Create a database named `qctestdb`

In [3]:
# Create a tanmes named `testresults` with 3 columns.
# Use `executemany` to populate table

|plate|testresultes|zip|
|-|-|-|
|1001|ABC|93722

In [4]:
# primary_key == 'platet, type = int, is not null

# testresults, type = str, is not null

# zip, type = int, is not null